<div class="container">
  <div class="container-izquierda">
    <div id="text-title">Jaime Sebastián</div>
    <div id="text-subtitle">
      Desarrollador Fullstack y Diseñador de Videojuegos
    </div>
    <div class="botonera">
      <button (click)="AboutMe()" class="custom-btn btn">
        <span>About me</span>
      </button>
      <button class="custom-btn btn"><span>Videogames</span></button>
      <button class="custom-btn btn"><span>Fullstack</span></button>
      <button class="custom-btn btn"><span>Contact me</span></button>
    </div>
  </div>

  <ngb-carousel>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="'assets/1.jpg'" alt="Random first slide" />
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="'assets/2.jpg'" alt="Random second slide" />
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="'assets/3.jpg'" alt="Random third slide" />
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="'assets/4.jpg'" alt="Random fourth slide" />
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="'assets/5.jpg'" alt="Random fourth slide" />
      </div>
    </ng-template>
  </ngb-carousel>
</div>
