<app-header></app-header>
<div>
  <div class="title">
    <h1>{{ game.name }}</h1>
  </div>
  <div class="main">
    <div class="left">
      <div>
        <h2>Genre</h2>
        <h3>{{ game.genero }}</h3>
      </div>
      <div>
        <h2>Engine</h2>
        <h3>{{ game.engine }}</h3>
      </div>
    </div>
    <div class="right">
      <p>{{ game.descripcion }}</p>
    </div>
  </div>

  <ngb-carousel class="images">
    <ng-template
      class="image"
      ngbSlide
      *ngFor="let image of game.images; let i = index"
      [id]="'slide-' + i"
    >
      <div class="picsum-img-wrapper">
        <img
          mat-card-image
          [src]="image"
          alt="Slide {{ i + 1 }}"
          class="d-block w-100"
        />
        <div class="carousel-caption">
          <h1>{{ game.name }}</h1>
          <h4>{{ game.genero }}</h4>
        </div>
      </div>
    </ng-template>
  </ngb-carousel>
  <h1>{{game.trailer}}</h1>
  <div *ngIf="game.trailer" class="video-container">
    <iframe width="560" height="315" [src]="trailerUrl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </div>
</div>
