<div>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button
        mat-icon-button
        (click)="sidenav.toggle()"
        fxShow="true"
        fxHide.gt-sm
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span>Responsive Navigation</span>
      <span class="menu-spacer"></span>
      <div fxShow="true" fxHide.lt-md>
        <!-- The following menu items will be hidden on both SM and XS screen sizes -->
        <a href="/about" mat-button>About</a>
        <a href="/games" mat-button>Games</a>
        <a href="/levels" mat-button>Level Design</a>
        <a href="https://github.com/jaiminator21" mat-button target="_blank">Gihub</a>
        <a href="/login" mat-button>Login</a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a (click)="sidenav.toggle()" mat-list-item>Close</a>
        <a href="/about" mat-list-item>About</a>
        <a href="/games" mat-list-item>Games</a>
        <a href="/levels" mat-list-item>Level Design</a>
        <a href="https://github.com/jaiminator21" mat-list-item target="_blank">Gihub</a>
        <a href="/login" mat-list-item>Login</a>
      </mat-nav-list>
    </mat-sidenav>
    <div class="content-main">
      <div class="content-row">
        <div class="content-text">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ac
            viverra dolor. Praesent dui purus, eleifend sit amet neque vel,
            luctus egestas arcu. Donec condimentum, mi vitae lobortis semper,
            velit magna varius urna, vel varius risus tortor vitae mi. Integer
            tempor libero in ligula malesuada finibus. Nunc vitae dolor nec
            turpis laoreet ornare et sit amet diam. Sed consectetur vitae tellus
            posuere auctor. Aliquam quis massa vel est condimentum faucibus eu
            nec ipsum. Vivamus dignissim finibus justo, ultrices molestie nunc
            pharetra eget. Etiam sem justo, porttitor quis posuere aliquam,
            suscipit eget lorem. Ut at sagittis lectus. Morbi ut vulputate
            magna. Maecenas pulvinar eu nisl id blandit. Mauris tristique
            rhoncus libero, aliquam sollicitudin ipsum sollicitudin ac. Donec
            vestibulum accumsan erat, sit amet vestibulum nisi malesuada sed.
            Donec semper turpis at elit tempor efficitur. Suspendisse finibus
            sollicitudin pretium. Duis mollis libero ut risus blandit, nec
            convallis sapien volutpat. Proin ac efficitur mauris. Sed gravida
            fermentum leo nec rhoncus. Ut pellentesque placerat imperdiet. Ut
            efficitur pharetra justo, vitae lobortis nulla imperdiet quis.
            Maecenas eu aliquam est. Cras tincidunt sem sed lacinia tincidunt.
            Nulla sapien ante, consectetur sit amet metus sit amet, semper
            dignissim tortor. Nam consequat pretium risus et lobortis. Nulla in
            vulputate mauris. Donec eget tempor sapien. Integer tempus massa
            dui, non elementum orci condimentum at. Nam in massa tortor. Fusce
            quis eleifend mauris. Sed sed hendrerit purus. Nunc pulvinar elit et
            dolor sodales convallis. Nulla scelerisque mauris diam, finibus
            pulvinar purus feugiat imperdiet. Fusce nunc augue, tempus ut turpis
            sit amet, viverra condimentum quam. Suspendisse potenti. Interdum et
            malesuada fames ac ante ipsum primis in faucibus.!
          </p>
        </div>
        <div class="content-images">
          <div
            id="carouselExampleControls"
            class="carousel slide"
            data-bs-ride="carousel"
          >
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img [src]="'assets/1.jpg'" class="d-block w-100" alt="..." />
              </div>
              <div class="carousel-item">
                <img [src]="'assets/2.jpg'" class="d-block w-100" alt="..." />
              </div>
              <div class="carousel-item">
                <img [src]="'assets/3.jpg'" class="d-block w-100" alt="..." />
              </div>
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#carouselExampleControls"
              data-bs-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#carouselExampleControls"
              data-bs-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
    </div>
    <div class="content-row">
      <a href="">See CV</a>
      <a href="">See TFG</a>
      <a href="">See TFG</a>
    </div>
    </div>
  </mat-sidenav-container>
</div>
