<app-header></app-header>

<div class="login-component">
  <div *ngIf="sucessfulLogin">
    <div class="alert alert-success" role="alert">
      {{ sucessfulLogin }} {{showCountDown}}
    </div>
  </div>
  <div *ngIf="loginError">
    <div class="alert alert-warning" role="alert">
      {{ loginError }}
    </div>
  </div>
  <mat-card class="register-card">
    <div>
      <h1 class="title">Login</h1>
    </div>
    <form (ngSubmit)="onSubmit()" #registerForm="ngForm">
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input
          matInput
          type="email"
          id="email"
          required
          [(ngModel)]="user.email"
          name="email"
          #email="ngModel"
        />
        <div *ngIf="emailError" style="color: red">
          {{ emailError }}
        </div>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input
          matInput
          [type]="showPassword ? 'text' : 'password'"
          id="password"
          required
          [(ngModel)]="user.password"
          name="password"
          #password="ngModel"
        />
        <div *ngIf="passwordError" style="color: red">
          {{ passwordError }}
        </div>
      </mat-form-field>
      <section class="example-section">
        <mat-checkbox class="example-margin" (change)="toggleShowPassword()">Show password</mat-checkbox>
      </section>
      <button
        mat-flat-button
        color="primary"
        type="submit"
        [disabled]="registerForm.invalid"
      >
        Login
      </button>
    </form>
    <div class="title">
      <h5>¿Todavía no tienes una cuenta? <a href="/register">Registrate</a></h5>
    </div>
  </mat-card>
</div>
