.menu-spacer {
  flex: 1 1 auto;
}



.games-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px; // Agrega espacio entre las tarjetas

  @media (max-width: 1200px) {
    .game-card {
      flex: 0 0 33.33%; // 3 tarjetas por fila
    }
  }

  @media (max-width: 992px) {
    .game-card {
      flex: 0 0 50%; // 2 tarjetas por fila
    }
  }

  @media (max-width: 768px) {
    .game-card {
      flex: 0 0 100%; // 1 tarjeta por fila
    }
    .carousel-caption h1 {
      font-size: 1.5rem;
    }
    .carousel-caption h4 {
      font-size: 1rem;
    }
  }
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-caption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.5); // Fondo semitransparente para mejorar la legibilidad
}

.carousel-caption h1 {
  margin: 0;
  font-size: 2rem;
  font-weight: bold;
}

.carousel-caption h4 {
  margin: 0;
  font-size: 1.2rem;
}
.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-item {
  position: relative;
  width: 100%;
  height: 300px; /* Ajusta la altura deseada */
}

.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Asegura que la imagen cubra completamente el contenedor */
}


